body{
    font-family: 'Zen Tokyo Zoo', cursive;
    background-color:white;
}
.header_div{
    color: black;
    text-align: center;
}
.header_div img{
width: 100px;
}
.header_div h4{
    width:8px;
}
.text_images_and_result{
    background-color:lavender;
    box-shadow:5px 5px 18px grey;
    width:380px;
    height: 420px;
    text-align: left;
    border-radius: 25px;
  margin-left: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text_images_and_result img{
    width:180px;
    height:250px;
    border-radius: 30px;
    margin-left: 20px;
}
.bob3{
    background-color:lightgrey;
    color: black;
    border-radius: 10px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.text_images_and_result2{
    background-color:lavender;
    box-shadow:5px 5px 18px grey;
    width:420px;
    height: 350px;
    text-align: left;
    border-radius: 25px;
  margin-left: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text_images_and_result2 img{
    width:250px;
    height:180px;
    border-radius: 30px;
    margin-left: 20px;
}
.text_images_and_result3{
    background-color:lavender;
    box-shadow:5px 5px 18px grey;
    width:420px;
    height: 350px;
    text-align: left;
    border-radius: 25px;
  margin-left: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text_images_and_result3 img{
    width:250px;
    height:180px;
    border-radius: 30px;
    margin-left: 20px;
}
.text_images_and_result4{
    background-color:lavender;
    box-shadow:5px 5px 18px grey;
    width:350px;
    height: 420px;
    text-align: left;
    border-radius: 25px;
  margin-left: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text_images_and_result4 img{
    width:180px;
    height:250px;
    border-radius: 30px;
    margin-left: 20px;
}
.text_images_and_result5{
    background-color:lavender;
    box-shadow:5px 5px 18px grey;
    width:350px;
    height: 420px;
    text-align: left;
    border-radius: 25px;
  margin-left: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text_images_and_result5 img{
    width:180px;
    height:250px;
    border-radius: 30px;
    margin-left: 20px;
}
.conclusion{
    background-color:powderblue;
    box-shadow:5px 5px 18px grey;
    border-radius: 10px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1000px;
    text-align: center;
}
